.profile_container {
  max-width: 1920px;
  width: 100%;
  height: 891px;
  overflow: hidden;
}

.profile_header {
  display: flex;
  justify-content: space-between; /* Align items to the left and right */
  align-items: center;
  width: 100%;
  height: 64px;
  background-color: #763435;
  padding: 0 16px; /* Add padding for spacing */
}

.pdologo {
  height: 60px;
  width: auto;
}

.button_container {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.button_container button {
  margin-left: 5px; /* Adjust margin as needed */
  width: 100px;
  padding: 0 0.25rem;
  border: 2px solid white;
}

.profile_topbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  overflow: hidden;
}

.profile_topbar-container {
  width: 25%;
  padding: 1rem 0.75rem;
}

.profile_section1 {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  height: 100%;
}

.profile_section1 button {
  background-color: #763435;
  width: 200px;
  margin: 5px 0;
}

.profile_name {
  font-weight: bolder;
  font-size: 1.5rem;
}

.profile_username {
  font-size: 1rem;
}

.profile_connections {
  font-size: .75rem;
}

.profile_details {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding-left: 2rem;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  height: 160px;
}

.menu ul {
  display: flex;
}

.menu li {
  margin-right: 5px;
}

/* Modal Container */
.modalContainer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}

/* Modal Container - Visible */
.modalContainer.open {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal Content */
.modalContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .button_container button {
        width: 75px;
        font-size: .75rem;
    }
    .profile_topbar-container {
      padding: .75rem 0.5rem;
    }
    
    .profile_section1 button {
      width: 150px;
    }
    
    .profile_name {
      font-size: 1.25rem;
    }
    
    .profile_username {
      font-size: .75rem;
    }
    
    .profile_connections {
      font-size: .75rem;
    }

    .profile_details {
      font-size: .75rem;
      padding-left: 1rem;
    }
}

/* For medium devices */
@media screen and (max-width: 768px) {
  .profile_topbar {
    flex-wrap: wrap;
  }

  .profile_avatar {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .profile_topbar-container {
    width: 100%;
  }
  
  .profile_section1 {
    flex-direction: column;
    display: flex;
    align-items: center;
    border-right: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: auto;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }

  .profile_details {
    align-items: center;
    border-right: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: auto;
    padding-left: 0;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }

  /* hamburger menu */
.menu-toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 25px;
  cursor: pointer;
}

.bar {
  width: 100%;
  height: 3px;
  background-color: #f9f9f9;
  margin: 3px 0;
  transition: transform 0.3s ease-in-out;
}

.open .bar:nth-child(1) {
  transform: rotate(35deg)
}

.open .bar:nth-child(2) {
  opacity: 0;
}

.open .bar:nth-child(3) {
  transform: rotate(-35deg)
}

.menu {
  display: none;
}

.menu ul {
  flex-direction: column;
}

.menu button {
  margin-left: 5px; /* Adjust margin as needed */
  width: 100px;
  padding: 0 0.25rem;
  border: 2px solid white;
}

.menu.active {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  top: 50px;
  right: 0;
  padding: 10px;
}

.menu.active ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu.active ul li {
  margin-bottom: 10px;
}

.menu.active ul li button {
  text-decoration: none;
  color: #f9f9f9;
  background-color: #763435;
}
/* end of hamburger menu */
}

@media screen and (max-width: 576px) {
    .pdologo{
        height: 45px;
        width: auto;
    }

}

/* For small devices */
@media screen and (max-width: 350px) {
    .menu button {
        width: 70px;
        font-size: .75rem;
    }

    .pdologo{
        height: 40px;
        width: auto;
    }
}
